*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: lightcyan;
    font-family: 'Lato', sans-serif;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    padding: 40px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* estilos generales de las tarjetas:
    transform-style: preserve-3d -->es para controlar el movimiento de la tarjeta
    backface-visibility: hidden --> esto permite que al girar la tarjeta, la cara de atras no se muestre cuando se gira
*/

.tarjeta{
    width: 100%;
    max-width: 550px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: pointer;
    z-index: 2;
    /* background: black; */
}

.tarjeta.active{
    transform: rotateY(180deg);
}

.tarjeta > div{
    padding: 30px;
    border-radius: 15px;
    min-height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 140, 0.3);
}

.tarjeta .delantera{
    width: 100%;
    background: url(img/bg-tarjeta/bg-tarjeta-03.jpg);
    background-size: cover;
}

.delantera .logo-marca{
    text-align: right;
    min-height: 50px;
}

.delantera .logo-marca img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 80px;
}

.delantera .chip{
    width: 100%;
    max-width: 50px;
    margin-bottom: 20px;
}

.delantera .grupo .label{
    font-size: 16px;
    color: #7d8994;
    margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
    color: aliceblue;
    /* color: blueviolet; */
    font-size: 22px;
    text-transform: uppercase;
}